<div class="row">
  <div class="col-12 col-sm-12 col-md-5">
      <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
      <owl-date-time #dt1></owl-date-time>
  </div>
</div>
