<div class="row">
  <div class="col-12" style="padding: 0px !important">
    <form style="margin: 1em;">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-2 text-center">
          <div class="row" style="padding-left: 15px !important; padding-right: 15px !important">
            <div class="col-6 text-center" style="padding: 1px !important">
              <button type="button" class="btn btn-outline-dark btn-block" (click)="getLastHour()">1h</button>
            </div>
            <div class="col-6 text-center" style="padding: 1px !important">
              <button type="button" class="btn btn-outline-dark btn-block" (click)="getLastDay()">1d</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-2">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <img src="../../../assets/img/calendar.png" width=24 height=24 class="img-fluid" alt="Responsive image">
              </div>
            </div>
            <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Desde" class="form-control">
            <owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 my-2">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <img src="../../../assets/img/calendar.png" width=24 height=24 class="img-fluid" alt="Responsive image">
              </div>
            </div>
            <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Hasta" class="form-control">
            <owl-date-time [pickerMode]="'dialog'" #dt2></owl-date-time>
          </div>
        </div>

        <div class="col-6 col-sm-6 col-md-2 col-lg-2 my-2">
          <button type="button" class="btn btn-outline-dark btn-block">Consultar
            <img src="../../../assets/img/search.svg" style="width: 24px; height: 24px;" class="img-fluid"
              alt="Responsive image">
          </button>
        </div>
        <div class="col-6 col-sm-6 col-md-2 col-lg-2 my-2">
          <button type="button" class="btn btn-outline-dark btn-block">Descargar
            <img src="../../../assets/img/download.png" style="width: 24px; height: 24px;" class="img-fluid"
              alt="Responsive image">
          </button>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2">
          <!-- <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle btn-block" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Zona Medición
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" *ngFor="let zona of dataZonasMedicion" (click)="seleccionarZonaDeMedicion(zona)">{{zona}}</a>
            </div>
          </div> -->
          <mat-form-field style="width: 100%; height: 24px;">
            <mat-label>Zona Medición</mat-label>
            <mat-select>
              <mat-option *ngFor="let zona of dataZonasMedicion" (click)="seleccionarZonaDeMedicion(zona)" [value]="zona">
                {{zona}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12">
    <div id="chart" style="position: relative; height:25rem;">
      <canvas id="line-chart"></canvas>
    </div>

  </div>
</div>