<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="bg-dark" >
        <div class="sidebar-header bg-dark bg-ligth text-center">
            <img src="../assets/img/logo_pentadata.png" width="120"  class="d-inline-block align-top" alt=""
                routerLink="/home" routerLinkActive="active">
        </div>

        <ul class="list-unstyled components text-center">
            
            <li class="">
                <a routerLink="/home" routerLinkActive="active">Puntos de Venta</a> 
            </li>
            <li>
                <a routerLink="/soporte" routerLinkActive="active">Soporte</a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="active">Configuración</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" >
                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <a routerLink="/home" routerLinkActive="active" style="color: white;">Francorp</a>
                    <!-- <img src="../assets/img/logo_pentadata.png" width="100" height="30" class="d-inline-block align-top"
                        alt="" routerLink="/home" routerLinkActive="active"> -->
                </a>

                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation" *ngIf="false">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="false">
                    <ul class="nav navbar-nav ml-auto">
                        <!-- <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <div class="my-3"></div>
        
        <div class="container-fluid" id="container">
            
            <router-outlet></router-outlet>
            <!-- <app-data-queries></app-data-queries>
            <app-main-cards></app-main-cards>
            <app-products></app-products>
            <app-chart></app-chart> -->
        </div>

    </div>
</div>