#titulo-card{
    Font-size: 1.1rem;
}

.card{
    border: 1px solid black;
    box-shadow: 5px 10px 8px #888888;
}

.size-card-text{
    font-size: 1.1rem;
}

#img-punto-venta{
    width: 200px;
    height: 100px;
}