<div class="row">
  <div class="col-12 col-sm-12 col-md-3 col-lg-3" *ngFor="let salesPlace of puntosVenta">
    <div class="my-2"></div>
    <div class="card text-center" routerLink="/chart" routerLinkActive="active" (click)="getPuntoVentaClick(salesPlace.puntoVenta)">
      <div class="card-header">
        <h3 id="titulo-card">{{salesPlace.puntoVenta}}</h3>
      </div>
      <div class="card-body">
        <img src={{salesPlace.logo}} alt="" id="img-punto-venta">
      </div>
    </div>
  </div>
  
</div>
<div class="my-3"></div>