<div class="container" style="padding: 10%;">
  <form (ngSubmit)="loginUser(form)" #form="ngForm">
    <div class="form-group">
      <input type="email" ngModel name="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <input type="password" ngModel name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
  </form>
</div>