<div class="my-5"></div>
<div class="container soporte-container">
  <form>
    <div class="form-group">
      <!-- <label for="exampleInputPassword1">Password</label> -->
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre" required>
    </div>
    <div class="form-group">
      <!-- <label for="exampleInputEmail1">Email address</label> -->
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Email" required>
      <small id="emailHelp" class="form-text text-muted">Su email nunca será compartido con terceros.</small>
    </div>
    <div class="form-group">
        <!-- <label for="exampleInputEmail1">Email address</label> -->
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Teléfono">
        <small id="emailHelp" class="form-text text-muted">Su teléfono nunca será compartido con terceros.</small>
      </div>
    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <div class="form-group">
      <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"
        placeholder="Ingrese su mensaje y nos prondremos en contacto a la mayor brevedad posible"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-dark">Enviar</button>
  </form>
</div>